$def with (logged_in, settings)
<!doctype html>
<html>
	<head>
		<link rel="search" type="application/opensearchdescription+xml" title="SearchDeck" href="https://SearchDeck.coolcodersj.repl.co/static/application/opensearch.xml">
		<link href="/static/style.css" rel="stylesheet" type="text/css" /> <!--where, i dont see line 19 of main.py | knowing me I probs did it wrong somehow -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
		<link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon.png">
		<title>SearchDeck</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#1a2032">
<meta content="SearchDeck" property="og:title">
<meta name="og:site_name" content="SearchDeck">
<meta name="twitter:title" content="SearchDeck">
<meta name="twitter:description" content="This is search, done right.">
<meta name="twitter:image" content="">
<meta name="og:image" content="">
<meta content="This is search, done right." property="og:description">
<link rel="alternate" type="application/json+oembed" href="https://embeds.ga/oembed/?name=CoolCOderSJ&url=https%3A%2F%2Fcoolcodersj.repl.co&providername=&providerurl=">
<div class="topnav text">
<a class="brand" href="/">SearchDeck</a>
<div class="topnavitem">
			$if logged_in == False:
    			<a class="topnavitem active" href="/login">Login</a>
  				<a class="topnavitem" href="/signup">Signup</a>
		</div>
    <span class="material-icons" style="margin-right: 30px;padding-top: 14px; margin-left: 15px;" onmouseover="this.style.cursor = 'pointer'" onclick="window.location.href='https://SearchDeck.coolcodersj.repl.co/settings'">
	settings
	</span>
		</div> 
	</head>
	<body>
		<h2>SearchDeck</h2>
		<br>
		<form method="get" action="/" id="search" style="display: flex;flex-direction: column;">
		<div style="display: flex; justify-content: center;">
            <input class="input" name="q" placeholder="Search Anything...." style="width: 50%;">
            <span class="material-icons" style="background: var(--bg-13); height: 22px; border-radius: 0 8px 8px 0; padding: 10px; cursor: pointer;margin-left: -44px;" onclick="document.getElementById('search').submit()">
                search
            </span>  
		</div>

        <script>
            function toggle_collapsible(elem) {
                var content = document.getElementById("advanced");
                if (content.style.opacity === "1") {
                  content.style.opacity = "0";
                    elem.innerHTML = "Show Advanced Settings"
                } else {
                  content.style.opacity = "1";
                elem.innerHTML = "Hide Advanced Settings"
                }
            }; 
        </script>


        <a id="collapsible" onclick="toggle_collapsible(this)" style="margin-top: 5%;text-align: center;cursor:pointer;margin-bottom: 50px;">Show Advanced Settings</a>
        <div id="advanced" style="opacity: 0;">
    <div style="display: flex;">
        <div style="margin-left: 21%;display: flex;flex-direction: column;">
      <h3>Search Engines to Display</h3>
        <label class="container">Google
        <input type="checkbox" checked="$settings['engines']['Google']" name="Google">
        <span class="checkmark"></span>
        </label>

        <label class="container">Bing
        <input type="checkbox" checked="$settings['engines']['Bing']" name="Bing">
        <span class="checkmark"></span>
        </label>

        <label class="container">DuckDuckGo
        <input type="checkbox" checked="$settings['engines']['DuckDuckGo']" name="DuckDuckGo">
        <span class="checkmark"></span>
        </label>

        <label class="container">Yahoo
        <input type="checkbox" checked="$settings['engines']['Yahoo']" name="Yahoo">
        <span class="checkmark"></span>
        </label>

    </div>
    <div style="margin-left: 25%;display: flex;flex-direction: column;">
		<h3>What to Search</h3><br>
        <label class="container">Text
        <input type="radio"
            $if settings['default_typ']['text']:
                checked="$settings['default_typ']['text']" 
        value="text" name="typ">
        <span class="radio"></span>
        </label>
        
        <label class="container">Images
        <input type="radio" value="image" 
            $if settings['default_typ']['image']:
                checked="$settings['default_typ']['image']" 
            name="typ">
        <span class="radio"></span>
        </label>
        
        <label class="container">Video
        <input type="radio" value="video" 
            $if settings['default_typ']['video']:
                checked="$settings['default_typ']['video']"
            name="typ">
        <span class="radio"></span>
        </label>
        
        <label class="container">News
        <input type="radio" value="news" 
            $if settings['default_typ']['news']:
                checked="$settings['default_typ']['news']" 
            name="typ">
        <span class="radio"></span>
        </label>
        
        <label class="container">Maps
        <input type="radio" value="maps" 
            $if settings['default_typ']['maps']:
                checked="$settings['default_typ']['maps']" 
            name="typ">
        <span class="radio"></span>
        </label>
        
        <label class="container">Shopping
        <input type="radio" value="shopping" 
            $if settings['default_typ']['shopping']:
                checked="$settings['default_typ']['shopping']"
            name="typ">
        <span class="radio"></span>
        </label>

    </div></div>
            </div>
		</form>
	</body>
</html>