$def with (google, bing, duckduckgo, yahoo, q)
<!doctype html>
<html>
	<head>
		<link href="https://Minimalist.coolcodersj.repl.co/style.css" rel="stylesheet" type="text/css" />
		<title>SearchDeck</title>
		<style type="text/css">
			a {
				text-decoration: none;
			}
			.card:hover {
				transition: 0.5s;
				width: 50%;
			}
			.page {
				width: 100%;
				height: 100%;
			}

			#container {
				display: inline-flex; 
				flex-direction: column;
			}

		</style>
	</head>
	<body style="overflow: auto !important;">
		<h2>SearchDeck</h2><br>
		<form method="get" action="/">
		<input class="input" name="q" placeholder="Search Anything...." value="$q">
		</form>
		<br><br>
		<ul>
			<li><a href="#google">Google</a></li>
			<li><a href="#bing">Bing</a></li>
			<li><a href="#ddg">DuckDuckGo</a></li>
			<li><a href="#yahoo">Yahoo</a></li>
		</ul>
		<br><br><br>
		<div id='containter'>
		<div class="page" id="google">
			<h2>Google</h2>
			<br><br>
			$for result in google:
				<a href="$result['link']" target="_blank">
				<div class="card">
					<h3>$result['title']</h3>
				</div>
				</a>
		</div>
		<div class="page" id="bing">
			<h2>Bing</h2>
			<br><br>
			$for result in bing:
				<a href="$result['link']" target="_blank">
				<div class="card">
					<h3>$result['title']</h3>
					<p>$result['desc']</p>
				</div>
				</a>
		</div>
		<div class="page" id="ddg">
			<h2>DuckDuckGo</h2>
			<br><br>
			$for result in duckduckgo:
				<a href="$result['link']" target="_blank">
				<div class="card">
					<h3>$result['title']</h3>
				</div>
				</a>
		</div>
		<div class="page" id="yahoo">
			<h2>Yahoo</h2>
			<br><br>
			$for result in yahoo:
				<a href="$result['link']" target="_blank">
				<div class="card">
					<h3>$result['title']</h3>
				</div>
				</a>
		</div>
		</div>
	</body>
</html>