$def with (google, bing, duckduckgo, yahoo, q, sort, typ, engines, logged_in, dictionary, info, ans)
<!doctype html>
<html>
	<head>
		<link rel="search" type="application/opensearchdescription+xml" title="SearchDeck" href="https://SearchDeck.coolcodersj.repl.co/static/application/opensearch.xml">
	  <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon.png">
		<title>SearchDeck</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#1a2032">
<meta content="Search Results for $q | SearchDeck" property="og:title">
<meta name="og:site_name" content="">
<meta name="twitter:title" content="Search Results for $q | SearchDeck">
<meta name="twitter:description" content="This is search, done right.">
<meta name="twitter:image" content="">
<meta name="og:image" content="">
<meta content="This is search, done right." property="og:description">
<link rel="alternate" type="application/json+oembed" href="https://embeds.ga/oembed/?name=CoolCOderSJ&url=https%3A%2F%2Fcoolcodersj.repl.co&providername=&providerurl=">
		<link href="static/style.css" rel="stylesheet" type="text/css" />
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"  rel="stylesheet">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"  rel="stylesheet">
			<div class="topnav text" style="margin-bottom: 0;">
		<a class="brand" href="/">SearchDeck</a>
		<div class="topnavitem">
			$if logged_in == False:
    			<a class="topnavitem active" href="/login">Login</a>
  				<a class="topnavitem" href="/signup">Signup</a>
		</div>
    <span class="material-icons" style="margin-right: 30px;padding-top: 14px; margin-left: 15px;" onmouseover="this.style.cursor = 'pointer'" onclick="window.location.href='https://SearchDeck.coolcodersj.repl.co/settings'">
	settings
	</span>
		</div> 
		</div> 
			
			<script>

				function sort(style) {
					console.log("ree")
					var q = document.getElementById("q").value;
					engines = document.getElementsByClassName("engine");
					url = `https://SearchDeck.coolcodersj.repl.co/?q=$${q}&sort=$${style}`;
					var i;
					for (i=0; i < engines.length; i++) {
						a = engines[i].value;
						b = engines[i].name;
						console.log(a)
						console.log(b)
						url += `&$${b}=$${a}`;
					};
					window.location.href = url
				};
				function typ(type) {
					var q = document.getElementById("q").value;
					url = `https://SearchDeck.coolcodersj.repl.co/?q=$${q}&typ=$${type}`;
					engines = document.getElementsByClassName("engine");
					var i;
					for (i=0; i < engines.length; i++) {
						a = engines[i].value
						b = engines[i].name
						url += `&$${b}=$${a}`
					};
					window.location.href = url
				};
			</script>
			 <nav style="top: 0; position: sticky; background: var(--bg-14); padding: 25px; z-index:10;">
		  <div class="search">
			  
			  <form method="get" action="/" id="search" style="width: 90%;">
			  <div style="display: flex;">
            <input class="input" name="q" value="$q" id="q" placeholder="Search Anything...." style="width: 50%;">
            <span class="material-icons" style="background: var(--bg-13); height: 22px; border-radius: 0 8px 8px 0; padding: 10px; cursor: pointer; margin-left: -44px;" onclick="document.getElementById('search').submit()">
                search
            </span>  
		</div>

			<style>
				h2 {
  text-align: left;
}
			</style>
		  </div>
		  <br>
		  <div class="nav-bottom" style="display: flex; gap: 15px;">
			  $ listOfClass = {"text": "notactive", "image": "notactive", "video": "notactive", "news": "notactive", "maps": "notactive", "shopping": "notactive"}
			  $ listOfClass[typ] = "active"
		  <a href="#" onclick="typ('text')" class="$listOfClass['text']">All</a>
		  <a href="#" onclick="typ('image')" class="$listOfClass['image']">Images</a>
		  <a href="#" onclick="typ('video')" class="$listOfClass['video']">Video</a>
		  <a href="#" onclick="typ('news')" class="$listOfClass['news']">News</a>
		  <a href="#" onclick="typ('maps')" class="$listOfClass['maps']">Maps</a>
		  <a href="#" onclick="typ('shopping')" class="$listOfClass['shopping']">Shopping</a>
		  </div>
          <div style="border: 1px solid var(--bg-12);margin-top: 20px;"></div>
	  </nav>
			<br><br>
	</head>
	<body style="overflow: auto !important;">
		$if typ =="image":
			<br><br>
			<div id="google">
				$if "Google" in engines:
					$for img in google:
						<img src="$img">
			</div>
			<div id="bing" style="display: none;">
				$if "Bing" in engines:
					$for img in bing:
						<img src="$img">
			</div>
			<div id="duckduckgo" style="display: none;">
				$if "DuckDuckGo" in engines:
					$for img in duckduckgo:
						<img src="$img">
			</div>
			<div id="yahoo" style="display: none;">
				$if "Yahoo" in engines:
					$for img in yahoo:
						<img src="$img">
			</div>
		
		$elif typ == "video":
			$for video in google:
				<a href="https://youtube.com/$video['url_suffix']" target="_blank">
				<div class="video">
					<img height="200px" style="float: left; margin-right: 10px;" src="$video['thumbnails'][0]">
					<h3>$video['title']</h3>
					<p>$video['channel'] -- $video['publish_time']</p>
					<br>
					<p style="float: center;">$video['long_desc']</p>
					
					<h5 style="float: center;">$video['duration'] | $video['views']</h5>
				</div>
				</a>
				<br><br>
		
		$elif typ == "news":
			$for article in google:
				<a href="$article['link']" target="_blank">
				<div class="video">
					<img height="200px" style="float: left; margin-right: 10px;" src="$article['img']">
					<h3>$article['title']</h3>
					<p>$article['media'] -- $article['date']</p>
					<br>
					<p style="float: center;">$article['desc']</p>
				</div>
				</a>
				<br><br>
		
		$elif typ == "maps":
			$ q = q.replace(" ", "+")
			<div id="maps">
				<div style="overflow:hidden;max-width:100%;width:100%;height:500px;"><div id="embeddedmap-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://maps.google.com/maps?q=$q&t=directions&z=13&ie=UTF8&iwloc=&output=embed"></iframe></div><a class="googlemap-code-enabler" href="https://www.bootstrapskins.com/themes/wordpress" id="authmap-data">buy wordpress themes</a><style>#embeddedmap-canvas img{max-width:none!important;background:none!important;font-size: inherit;font-weight:inherit;}</style></div>
			</div>

		$elif typ == 'shopping':
			$if sort =="list":
				<ul>
					$if "Google" in engines:
						<li><a href="#google">Google</a></li>
					$if "Bing" in engines:
						<li><a href="#bing">Bing</a></li>
					$if "Yahoo" in engines:
						<li><a href="#yahoo">Yahoo</a></li>
				</ul>
				<br><br><br>
				<div id='containter'>
				$if "Google" in engines:
					<div id="google">
						<h2>Google</h2>
						<br><br>
						$for result in google:
							<a href="$result['link']" target="_blank">
							<div class="card">
								<h3>$result['title']</h3>
							</div>
							</a>
					</div>
				$if "Bing" in engines:
					<div id="bing">
						<h2>Bing</h2>
						<br><br>
						$for result in bing:
							<a href="$result['link']" target="_blank">
							<div class="card">
								<h3>$result['title']</h3>
								<p>$result['desc']</p>
							</div>
							</a>
					</div>
				$if "Yahoo" in engines:
					<div id="yahoo">
						<h2>Yahoo</h2>
						<br><br>
						$for result in yahoo:
							<a href="$result['link']" target="_blank">
							<div class="card">
								<h3>$result['title']</h3>
							</div>
							</a>
					</div>
				</div>
			$else:
				<style>
					td {
						height: 100%;
						width: 100%;
					}
					.card {
						width: 80% !important;
					}
					</style>
				<table class="text">
					<tr>
						$if "Google" in engines:
							<th>Google</th>
						$if "Bing" in engines:
							<th>Bing</th>
						$if "Yahoo" in engines:
							<th>Yahoo</th>
					</tr>
					$ lis = [len(google), len(bing), len(duckduckgo), len(yahoo)] 
					$lis.sort()
					$ num = lis[-1]
					$for x in range(num):
						<tr>
							$if "Google" in engines:
								$if len(google) > x:
									<td><a href="$google[x]['link']" target="_blank">
										<div class="card">
										<img height="200px" style="float: left; margin-right: 10px;" src="">
										<h3>$google[x]['title']</h3>
										<br>
										<p style="float: center;">$google[x]['rating'] Rating</p>			
										</div>
									</a></td>
								$else:
									<td></td>
							$if "Bing" in engines:
								$if len(bing) > x:
									<td><a href="$bing[x]['link']" target="_blank">
										<div class="card">
										<img height="200px" style="float: left; margin-right: 10px;" src="$bing[x]['img']">
										<h3>$bing[x]['title']</h3>
										<br>
										<p style="float: center;">$bing[x]['price']</p>			
										</div>
										</a></td>
								$else:
									<td></td>
							$if "Yahoo" in engines:
								$if len(yahoo) > x:
									<td><a href="$yahoo[x]['link']" target="_blank">
										<div class="card">
										<img height="200px" style="float: left; margin-right: 10px;" src="">
										<h3>$yahoo[x]['title']</h3>
										<br>
										<p style="float: center;">$yahoo[x]['price']</p>			
										</div>
										</a></td>
								$else:
									<td></td>
						</tr>
				</table>
	</body>

</html>