$def with (settings)
<!doctype html>
<html>
	<head>
		<link rel="search" type="application/opensearchdescription+xml" title="SearchDeck" href="https://SearchDeck.coolcodersj.repl.co/static/application/opensearch.xml">
		<link href="/static/style.css" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon.png">
		<title>SearchDeck</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#000EF2">
<meta content="SearchDeck" property="og:title">
<meta name="og:site_name" content="">
<meta name="twitter:title" content="SearchDeck">
<meta name="twitter:description" content="Search the Web! Search 4 different search engines at once and see the results side-by-side.">
<meta name="twitter:image" content="">
<meta name="og:image" content="">
<meta content="Search the Web! Search 4 different search engines at once and see the results side-by-side." property="og:description">
<link rel="alternate" type="application/json+oembed" href="https://embeds.ga/oembed/?name=CoolCOderSJ&url=https%3A%2F%2Fcoolcodersj.repl.co&providername=&providerurl=">
<div class="topnav text">
<a class="brand" href="/">SearchDeck</a>
<div class="topnavitem">
		</div>
    <span class="material-icons" style="margin-right: 30px;padding-top: 14px; margin-left: 15px;" onmouseover="this.style.cursor = 'pointer'" onclick="window.location.href='https://SearchDeck.coolcodersj.repl.co/settings'">
	settings
	</span>
</div> 
	</head>
	<body>
		<form method="post" action="settings" style="display: flex; flex-direction: column; gap: 20px; align-items: center;">
		<h2>User Settings</h2><br>
		
		<div>
		<h3>Search Engines to Display -</h3>
		<label class="container">Google
        <input type="checkbox" checked="$settings['engines']['Google']" name="Google">
        <span class="checkmark"></span>
        </label>

        <label class="container">Bing
        <input type="checkbox" checked="$settings['engines']['Bing']" name="Bing">
        <span class="checkmark"></span>
        </label>

        <label class="container">DuckDuckGo
        <input type="checkbox" checked="$settings['engines']['DuckDuckGo']" name="DuckDuckGo">
        <span class="checkmark"></span>
        </label>

        <label class="container">Yahoo
        <input type="checkbox" checked="$settings['engines']['Yahoo']" name="Yahoo">
        <span class="checkmark"></span>
        </label>
		</div>

		<br>
		<br>
		<div>
		<h3>What to Search by Default</h3><br>
		<label class="container">Text
        <input type="radio"
            $if settings['default_typ']['text']:
                checked="$settings['default_typ']['text']" 
        value="text" name="typ">
        <span class="radio"></span>
        </label>
        
        <label class="container">Images
        <input type="radio" value="image" 
            $if settings['default_typ']['image']:
                checked="$settings['default_typ']['image']" 
            name="typ">
        <span class="radio"></span>
        </label>
        
        <label class="container">Video
        <input type="radio" value="video" 
            $if settings['default_typ']['video']:
                checked="$settings['default_typ']['video']"
            name="typ">
        <span class="radio"></span>
        </label>
        
        <label class="container">News
        <input type="radio" value="news" 
            $if settings['default_typ']['news']:
                checked="$settings['default_typ']['news']" 
            name="typ">
        <span class="radio"></span>
        </label>
        
        <label class="container">Maps
        <input type="radio" value="maps" 
            $if settings['default_typ']['maps']:
                checked="$settings['default_typ']['maps']" 
            name="typ">
        <span class="radio"></span>
        </label>
        
        <label class="container">Shopping
        <input type="radio" value="shopping" 
            $if settings['default_typ']['shopping']:
                checked="$settings['default_typ']['shopping']"
            name="typ">
        <span class="radio"></span>
        </label>
		</div>
		
		<br>
		<br>

		<div>
		$if settings['cache'] == 'Enabled':
			<label class="container">Use Cache
			<input type="checkbox" checked="checked" name="cache">
			<span class="checkmark"></span>
			</label>
		$if settings['cache'] == 'Disabled':
			<label class="container">Use Cache
			<input type="checkbox" name="cache">
			<span class="checkmark"></span>
			</label>
		<br><br>
		</div>
			
		<button class="btn" type="submit">Save</button>
		</form>
	</body>
</html>